<!DOCTYPE html>
<html>
  <head>
       <title>  Home    </title>
	   <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <img src="banner.jpg" width="100%">
 <ul>
   <li> <a href="/home"> Home </a>   </li>
   <li> <a href="/about"> About </a>  </li>
   <li> <a href="/contact"> Contact </a>  </li>
   <li> <a href="/location">Location </a>  </li>
  </ul>
   <h1 style="color:green">  About me! </h1>
  
   <p> I offer professional design services at an affordable price </p>
 I design brand identities and my portfolio includes flyers, business cards, logos, leaflets, promotional materials, corporate stationery, and newsletters. I produce the right design for your requirements and budget. I can also arrange printing for you as required.    
   </p>
  </body>
</html>