<!DOCTYPE html>
<html>
  <head>
       <title>  Home    </title>
	   <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <img src="banner.jpg" width="100%">
 <ul>
   <li> <a href="/home"> Home </a>   </li>
   <li> <a href="/about"> About </a>  </li>
   <li> <a href="/contact"> Contact </a>  </li>
   <li> <a href="/location">Location </a>  </li>
  </ul>
   <h1 style="color:green">  Contact me </h1>
   <p>
    Email: bobsmith@yahoo
   </p>
   <p>
   Tel:(01234) 832 647  
   </p>

  </body>
</html>