<!DOCTYPE html>
<html>
  <head>
       <title>  Home    </title>
	   <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <img src="banner.jpg" width="100%">
  <ul>
   <li> <a href="/home"> Home </a>   </li>
   <li> <a href="/about"> About </a>  </li>
   <li> <a href="/contact"> Contact </a>  </li>
   <li> <a href="/location">Location </a>  </li>
  </ul>
   <h1 style="color:green">  Home  </h1>
   
   <p>
   My name is Bob Smith and I am a freelance designer based in Glasgow, Scotland. Starting off as a Visual Communication Designer many years ago, the digital world won me over early on. I have since been creating user-friendly digital designs ranging from web to mobile.

I find great interest in all new digital technologies and latest design practices. I work with a strong technical team so we can take your idea and turn it into a successful product that users will enjoy. Together we form YDgraphics.

In 2011 I was one of the judges for Ebge awards (Greek graphic and digital design awards) and in 2012 I was part of the CSS Awards jury! In 2015 I received a distinction for my website at Ebge Awards. Finally I was featured at 'The top 10 web design portfolios of 2015
</p>

  </body>
</html>